<!-- START FOOTER -->
<div class="footer">
  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="content-block">
        {{{companyName}}} - Copyright © {{currentYear}}
      </td>
    </tr>
    <tr>
      <td class="content-block powered-by">
        <a href={{{frontendURL}}}>WEB site</a>
      </td>
    </tr>
  </table>
</div>
<!-- END FOOTER -->
