<span class="preheader">{{appWelcome}}</span>

<!-- START HEADER -->
<div class="header">
  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="content-block" style="text-align: left; vertical-align: center;">
        <b>{{appName}}</b>
      </td>
      <td class="content-block" style="text-align: right; vertical-align: center;">
        <img style="width: 55px; height: 55px; margin: 0"
             width=32
             src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png"
             alt="icon">
      </td>
    </tr>
  </table>
</div>
<!-- END FOOTER -->
